* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(270deg, #faebd7, #9932cc);
}

.container {
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.label {
    background-color: violet;
    margin: auto 500px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

.container input {
    width: 47%;
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    text-align: left;
}

.container p {
    margin-left: 500px;
    text-align: left;
}

.container button {
    margin-top: 20px;
}

.label2 {
    margin-top: 20px;
}

.label3 {
    margin-top: 20px;
}
